<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container>
    <v-card class="elevation-0">
      <v-toolbar color="indigo" dark class="mb-5">
        <v-icon>fas fa-cart-plus</v-icon>
        <v-toolbar-title> Сформировать отчет:</v-toolbar-title>
      </v-toolbar>
      <v-form>
        <v-layout
          align-center
          justify-space-around
          row
          wrap
          fill-height
          my-4
        >
          <v-flex xs11 sm4>
            <v-dialog
              ref="menu"
              v-model="modalStart"
              :return-value.sync="startDate"
              persistent
              lazy
              full-width
              width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="startDateLocal"
                  label="Начало периода"
                  append-icon="event"
                  readonly
                  outline
                  v-on="on"
                />
              </template>
              <v-date-picker v-model="startDate" scrollable color="success" locale="ru-ru">
                <v-spacer />
                <v-btn flat color="primary" @click="modalStart = false">
                  Отмена
                </v-btn>
                <v-btn flat color="primary" @click="$refs.menu.save(startDate)">
                  OK
                </v-btn>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs11 sm4>
            <v-dialog
              ref="dialog"
              v-model="modalEnd"
              :return-value.sync="endDate"
              persistent
              lazy
              full-width
              width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="endDateLocal"
                  label="Конец периода"
                  append-icon="event"
                  readonly
                  outline
                  v-on="on"
                />
              </template>
              <v-date-picker v-model="endDate" scrollable color="success" locale="ru-ru">
                <v-spacer />
                <v-btn flat color="primary" @click="modalEnd = false">
                  Отмена
                </v-btn>
                <v-btn flat color="primary" @click="$refs.dialog.save(endDate)">
                  OK
                </v-btn>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs2 sm1 mb-4>
            <v-btn
              flat
              icon
              color="green"
              @click="getSalary"
            >
              <v-icon small>
                fas fa-play
              </v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card>
    <modal-window :is-open-modal="isOpenModal" title="Доход" @closeModalWindow="isOpenModal = !isOpenModal">
      <template v-slot:body>
        <v-layout
          align-center
          justify-center
          row
          wrap
          fill-height
          my-0
          py-0
        >
          <v-flex>
            <h3>С {{ startDateLocal }} по {{ endDateLocal }}</h3>
            <v-layout
              align-center
              justify-between
              row
              wrap
              fill-height
              mt-3
            >
              <v-flex sm12>
                <p style="color:blue">
                  Заработано всего: {{ sumEvents || '0' }} рублей
                </p>
              </v-flex>
              <v-flex sm12>
                <p style="color:red">
                  Расходы: {{ countCosts || 0 }} рублей
                </p>
              </v-flex>
              <v-flex sm12>
                <p style="color:green">
                  Заработано чистыми: {{ salary || 0 }} рублей
                </p>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </template>
    </modal-window>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import ModalWindow from '../commons/ModalWindow'
export default {
  name: 'Salary',
  components: {
    ModalWindow
  },
  data() {
    return {
      isOpenModal: false,
      price: '',
      date_posted: '',
      loading: false,
      comment: '',
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      modalStart: false,
      modalEnd: false
    }
  },
  computed: {
    ...mapState('events', ['sumEvents']),
    ...mapState('spending', ['spending']),

    salary() {
      return this.sumEvents - this.countCosts
    },
    countCosts() {
      return this.spending.reduce((acc, curr) => {
        return acc + curr.price
      }, 0)
    },
    startDateLocal() {
      return new Date(this.startDate).toLocaleDateString('ru')
    },
    endDateLocal() {
      return new Date(this.endDate).toLocaleDateString('ru')
    }
  },
  methods: {
    getSalary() {
      const data = {
        start_date: this.startDate,
        end_date: this.endDate
      }
      Promise.all([
        this.$store.dispatch('events/getSumEventsForPeriod', data),
        this.$store.dispatch('spending/getSumSpendingForPeriod', data)
      ]).then((value) => {
        this.loading = false
        this.isOpenModal = !this.isOpenModal
      }).catch(e => (this.$root.$emit('error', e.message)))
    }
  }
}
</script>

<style scoped>

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

</style>
