<template>
  <v-layout
    align-center
    justify-center
    row
    wrap
    fill-height
    py-5
  >
    <v-flex xs10 sm3 mx-3>
      <v-text-field
        :value="name"
        clearable
        label="Имя клиента"
        outline
        @input="$emit('update:name', $event)"
      />
    </v-flex>
    <v-flex xs10 sm3 mx-3>
      <v-text-field
        v-mask="'+7(###)###-##-##'"
        :value="phone"
        clearable
        label="Телефон"
        outline
        @input="$emit('update:phone', $event)"
      />
    </v-flex>
  </v-layout>
</template>

<script>
import { mask } from 'vue-the-mask'
export default {
  name: 'ClientInfoVue',
  directives: { mask },
  props: {
    name: {
      type: String,
      default: ''
    },
    phone: {
      type: String,
      default: ''
    }
  },
  computed: {
    localName: {
      get() { return this.name },
      set(value) { this.$emit('write-name', value) }
    },
    localPhone: {
      get() { return this.phone },
      set(value) { this.$emit('write-phone', value) }
    }
  }
}
</script>

<style scoped>

</style>
