<template>
  <v-layout column justify-center align-center mt-5>
    <v-flex xs12>
      <v-layout
        align-center
        justify-between
        row
        class="date-picker-custom"
      >
        <v-flex xs2 mr-1>
          <v-icon>timer</v-icon>
        </v-flex>
        <v-flex xs10>
          <div class="picker subheading">
            <datetime
              id="datePicker"
              v-model="localDate"
              type="datetime"
              :minute-step="minuteStep"
            >
              <template slot="button-cancel">
                Отменить
              </template>
              <template slot="button-confirm">
                Выбрать
              </template>
            </datetime>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12>
      <div v-if="isNewEvent" class="text-xs-center mt-4" @click="createEvent">
        <v-btn color="success">
          Сохранить
        </v-btn>
      </div>
      <div v-else class="text-xs-center mt-4" @click="updateEvent">
        <v-btn color="success">
          Сохранить
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ['date', 'time', 'isNewEvent'],
  data() {
    return {
      showDate: true,
      minuteStep: 15
    }
  },
  computed: {
    localDate: {
      get() {
        return this.date
      },
      set(value) {
        this.$emit('write-date', value)
      }
    }
  },

  methods: {
    createEvent() {
      this.$emit('create-event')
    },
    updateEvent() {
      this.$emit('update-event')
    }
  }
}
</script>

<style scoped>
  .date-picker-custom {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
  }
    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }

</style>
