<template>
  <v-tabs v-model="activeTab" fixed-tabs>
    <v-tab>
      Клиент
    </v-tab>
    <v-tab>
      Услуги
    </v-tab>
    <v-tab>
      Дата
    </v-tab>
    <v-tabs-items touchless class="border">
      <v-tab-item>
        <client-info
          :name.sync="name"
          :phone.sync="phone"
        />
      </v-tab-item>
      <v-tab-item>
        <service-list
          :duration="duration"
          :selected-services="selectedServices"
          @write-services="writeSelected"
        />
      </v-tab-item>
      <v-tab-item>
        <date-picker
          :date="date"
          :is-new-event="isNewEvent"
          @write-date="writeDate"
          @create-event="updateEvent"
          @update-event="updateEvent('update')"
        />
      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
import { mapActions } from 'vuex'
import DatePicker from './DatePicker'
import ServiceList from './ServiceList'
import ClientInfo from './ClientInfo'

export default {
  name: 'IndexVue',
  components: {
    DatePicker,
    ClientInfo,
    ServiceList
  },
  data: () => ({
    isNewEvent: true,
    id: null,
    activeTab: 0,
    name: '',
    phone: '+7',
    duration: 0,
    selectedServices: [],
    date: new Date().toISOString()
  }),
  async mounted() {
    try {
      this.$root.$on('write-duration', this.writeDuration)
      const id = this.$route.params.id
      this.id = id
      if (id) {
        this.isNewEvent = false
        const response = await this.$axios.$get(`/events/event/${id}`)
        this.name = response.title
        this.phone = response.phone
        this.duration = Math.round(Math.abs((new Date(response.end).getTime() - new Date(response.start).getTime()) / 60000))
        this.date = (new Date(response.start).toISOString())
        this.selectedServices = response.selected_services
      }
    } catch (e) {
      this.$root.$emit('error', 'Произошла ошибка при загрузке события!')
    }
  },
  methods: {
    ...mapActions('events', ['createEventRequest', 'getEvent', 'editEvent']),
    initialData() {
      Object.assign(this.$data, this.$options.data.apply(this))
    },
    writeDuration(duration) {
      this.duration = duration
    },
    writeSelected(selectedServices) {
      this.selectedServices = selectedServices
    },
    writeDate(date) {
      this.date = date
    },
    async updateEvent(flag) {
      try {
        const { name, phone, duration, selectedServices, date } = this
        const startDate = new Date(date)
        let endDate = new Date(startDate)
        endDate = new Date(endDate.setMinutes(endDate.getMinutes() + duration))
        const data = {
          start: startDate,
          end: endDate,
          title: name,
          phone,
          selected_services: selectedServices
        }
        if (flag === 'update') {
          const id = this.id
          await this.editEvent({ id, data })
          this.$root.$emit('success', 'Запись успешно обновлена')
        } else {
          await this.createEventRequest(data)
          this.$root.$emit('success', 'Запись успешно создана')
          this.activeTab = 0
          this.initialData()
        }
      } catch (e) {
        this.$root.$emit('error', 'Произошла ошибка!')
      }
    }
  }
}
</script>

<style scoped>
    .border {
        border-top: 1px solid #dee2e6;
    }
</style>
