<template>
  <div>
    <v-layout align-center justify-center row wrap fill-height>
      <v-flex xs11 sm4>
        <Duration :duration="duration" />
      </v-flex>
    </v-layout>
    <v-layout align-center justify-center row wrap fill-height>
      <v-flex xs11 sm4>
        <v-card v-for="category in filteredCategories" :key="category.name" class="text-xs-center my-4 py-4">
          <v-layout align-center justify-space-around row fill-height>
            <v-flex xs4>
              <span class="font-weight-regular text-uppercase"> {{ category.name }}</span>
            </v-flex>
            <v-flex xs6>
              <v-layout align-start justify-start row>
                <v-flex xs8>
                  <div v-for="service in category.services" :key="service._id">
                    <v-switch
                      v-model="selectedVal"
                      class="mt-0 mb-3"
                      :label="service.name"
                      :value="service._id"
                      color="green"
                      hide-details
                    />
                  </div>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Duration from '../commons/Duration'
export default {
  name: 'ServiceListVue',
  components: {
    Duration
  },
  props: ['duration', 'selectedServices'],
  data() {
    return {
      ex11: false,
      selected: this.selectedServices
    }
  },
  computed: {
    ...mapState('services', [
      'services',
      'categories'
    ]),
    ...mapGetters(
      'services', [
        'filteredService'
      ]),
    filteredCategories() {
      return this.filteredService
    },
    selectedVal: {
      get() {
        return this.selectedServices
      },
      set(val) {
        this.selected = val
        this.$emit('write-services', this.selected)
      }
    }
  },
  created() {
    this.getServices()
    this.getCategories()
  },
  methods: {
    ...mapActions('services', ['getServices', 'getCategories'])
  }
}
</script>

<style scoped>

</style>
