<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <modal-window :is-open-modal="isOpenModal" :title="'Ваши расходы'" @closeModalWindow="isOpenModal = !isOpenModal">
      <template v-slot:body>
        <h3>С {{ $formatDate(startDate) }} по {{ $formatDate(endDate) }}</h3>
        <p>
          Было потрачено: {{ sumForPeriod || '0' }} рублей
        </p>
        <v-layout
          align-center
          justify-center
          row
          wrap
          fill-height
          my-0
          py-0
        >
          <v-flex>
            <v-layout
              align-center
              justify-between
              row
              wrap
              fill-height
              mt-3
            >
              <v-flex sm12>
                <data-table-light :object-data="spending" @delete-spending="deleteSpendingData" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </template>
    </modal-window>
    <v-form>
      <v-container>
        <v-card class="elevation-0">
          <v-toolbar color="indigo" dark class="mb-4">
            <v-icon>fas fa-cart-plus</v-icon>
            <v-toolbar-title> Сформировать отчет по расходам:</v-toolbar-title>
          </v-toolbar>
          <div>
            <v-layout
              align-center
              justify-space-around
              row
              wrap
              fill-height
              my-4
            >
              <v-flex xs11 sm4>
                <v-dialog
                  ref="menu"
                  v-model="modalStart"
                  :return-value.sync="startDate"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :value="$formatDate(startDate)"
                      label="Начало периода"
                      append-icon="event"
                      readonly
                      outline
                      v-on="on"
                    />
                  </template>
                  <v-date-picker v-model="startDate" scrollable color="success" locale="ru-ru">
                    <v-spacer />
                    <v-btn flat color="primary" @click="modalStart = false">
                      Отмена
                    </v-btn>
                    <v-btn flat color="primary" @click="$refs.menu.save(startDate)">
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs11 sm4>
                <v-dialog
                  ref="menu2"
                  v-model="modalEnd"
                  :return-value.sync="endDate"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :value="$formatDate(endDate)"
                      label="Конец периода"
                      append-icon="event"
                      readonly
                      outline
                      v-on="on"
                    />
                  </template>
                  <v-date-picker v-model="endDate" scrollable color="success" locale="ru-ru">
                    <v-spacer />
                    <v-btn flat color="primary" @click="modalEnd = false">
                      Отмена
                    </v-btn>
                    <v-btn flat color="primary" @click="$refs.menu2.save(endDate)">
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs2 sm1 mb-4>
                <v-btn
                  flat
                  icon
                  color="green"
                  @click="getSpend"
                >
                  <v-icon small>
                    fas fa-play
                  </v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </div>
        </v-card>
      </v-container>
    </v-form>
    <v-form>
      <v-container>
        <v-card class="elevation-0">
          <v-toolbar color="indigo" dark class="mb-4">
            <v-icon>fas fa-cart-plus</v-icon>
            <v-toolbar-title> Добавить расходы:</v-toolbar-title>
          </v-toolbar>
          <div>
            <v-layout
              align-center
              justify-space-around
              row
              wrap
              fill-height
              my-4
            >
              <v-flex xs11 sm2>
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="date"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :value="$formatDate(new Date())"
                      label="Дата"
                      append-icon="event"
                      readonly
                      outline
                      v-on="on"
                    />
                  </template>
                  <v-date-picker v-model="date" scrollable color="success" locale="ru-ru">
                    <v-spacer />
                    <v-btn flat color="primary" @click="modal = false">
                      Отмена
                    </v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(date)">
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs11 sm2>
                <v-text-field
                  v-model="price"
                  clearable
                  label="Сумма"
                  return-masked-value
                  mask="#####"
                  outline
                />
              </v-flex>
              <v-flex xs11 sm6>
                <v-text-field
                  v-model="comment"
                  clearable
                  label="Комментарий"
                  outline
                />
              </v-flex>
              <v-flex xs2 sm1 mb-4 ml-3>
                <v-btn
                  flat
                  small
                  icon
                  color="green"
                  :disabled="!price"
                  @click="createSpendingData"
                >
                  <v-icon small>
                    fas fa-plus
                  </v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </div>
        </v-card>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ModalWindow from '../commons/ModalWindow'
import DataTableLight from '../commons/DataTableLight'
export default {
  name: 'Spending',
  components: {
    DataTableLight,
    ModalWindow
  },
  data() {
    return {
      isOpenModal: false,
      price: '',
      date_posted: '',
      comment: '',
      date: this.$formatDate(),
      modal: false,
      startDate: this.$formatDate(),
      endDate: this.$formatDate(),
      modalStart: false,
      modalEnd: false
    }
  },
  computed: {
    ...mapState('spending', [
      'spending'
    ]),
    sumForPeriod() {
      return this.spending.reduce((acc, cur) => {
        return acc + cur.price
      }, 0)
    },
    show() {
      return !!this.spending.length
    }
  },
  methods: {
    ...mapActions('spending', ['createSpending', 'getSumSpendingForPeriod']),
    async createSpendingData() {
      try {
        const data = {
          price: this.price,
          date_posted: new Date(this.date),
          comment: this.comment
        }
        await this.createSpending(data)
        this.$root.$emit('success', 'Запись успешно создана')
      } catch (e) {
        this.$root.$emit('error', e.message)
      }
    },
    async getSpend() {
      try {
        this.isOpenModal = !this.isOpenModal
        const data = {
          start_date: this.startDate,
          end_date: this.endDate
        }
        await this.getSumSpendingForPeriod(data)
      } catch (e) {
        this.$root.$emit('error', e.message)
      }
    },
    async deleteSpendingData(id) {
      try {
        const data = {
          start_date: this.startDate,
          end_date: this.endDate
        }
        await this.$store.dispatch('spending/deleteSpending', id)
        await this.getSumSpendingForPeriod(data)
      } catch (e) {
        this.$root.$emit('error', e.message)
      }
    }
  }
}
</script>

<style scoped>

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }

</style>
