<template>
  <v-card class="pb-5" min-height="85vh">
    <v-toolbar color="green" dark>
      <v-icon>fas fa-user-edit</v-icon>
      <v-toolbar-title>Запись клиента</v-toolbar-title>
      <v-spacer />
    </v-toolbar>
    <Events />
  </v-card>
</template>

<script>
import Events from '../../components/Events/index'
export default {
  name: 'EventsVue',
  components: {
    Events
  }
}
</script>

<style scoped>
</style>
