<template>
  <v-card class="mb-4">
    <v-form>
      <v-container>
        <v-toolbar
          color="green"
          dark
        >
          <v-icon>fas fa-edit</v-icon>
          <v-toolbar-title>Категории</v-toolbar-title>
          <v-spacer />
          <v-btn icon @click="close">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card class="mt-4">
          <v-toolbar color="indigo" dark class="mb-4">
            <v-icon>fas fa-cart-plus</v-icon>
            <v-toolbar-title> Добавить категорию:</v-toolbar-title>
          </v-toolbar>
          <div>
            <v-layout
              align-center
              justify-center
              row
              wrap
              fill-height
              my-4
            >
              <v-flex xs9 sm6>
                <v-text-field
                  v-model="name"
                  clearable
                  label="Введите имя категории"
                  outline
                />
              </v-flex>
              <v-flex xs2 sm2 mb-4>
                <v-btn
                  flat
                  icon
                  small
                  color="green"
                  :disabled="!name"
                  @click="createCategoryInfo"
                >
                  <v-icon small>
                    fas fa-plus
                  </v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </div>
        </v-card>
        <transition name="fade">
          <v-card v-if="show" class="mt-4">
            <v-toolbar color="indigo" dark class="mb-4">
              <v-icon>fas fa-trash-alt</v-icon>
              <v-toolbar-title> Удалить категории:</v-toolbar-title>
            </v-toolbar>
          </v-card>
        </transition>
        <transition-group name="fade">
          <v-layout
            v-for="category in categories"
            :key="category._id"
            align-center
            justify-center
            row
            wrap
            fill-height
          >
            <v-flex xs9 sm6 my-0 py-0>
              <v-text-field
                v-model="category.name"
                label="Категория"
                single-linecategory
                outline
                readonly
              />
            </v-flex>
            <v-flex xs2 sm2 mb-4>
              <v-btn flat icon small color="red" @click="deleteCategoryInfo(category._id)">
                <v-icon small>
                  fas fa-minus
                </v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </transition-group>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Categories',
  props: ['showCategory'],
  data() {
    return {
      name: '',
      date_posted: ''
    }
  },
  computed: {
    ...mapState('services', [
      'categories',
      'loading'
    ]),
    show() {
      return !!this.categories.length
    }
  },
  created() {
    this.date_posted = new Date()
  },
  methods: {
    ...mapActions('services', ['deleteCategory', 'createCategory']),
    close() {
      this.$emit('close')
    },
    deleteCategoryInfo(id) {
      this.deleteCategory({ id })
    },
    createCategoryInfo() {
      const data = {
        name: this.name,
        date_posted: this.date_posted
      }
      this.createCategory(data)
    }
  }
}
</script>

<style scoped>

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }

</style>
