<template>
  <v-app light>
    <notifications group="foo" />
    <v-navigation-drawer
      v-model="drawer"
      class="drawer"
      touchless
      :mini-variant.sync="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-layout align-center justify-end row fill-height>
          <v-btn
            icon
            dark
            color="indigo"
            @click="drawer = !drawer"
          >
            <v-icon>chevron_left</v-icon>
          </v-btn>
        </v-layout>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          router
          :to="item.to"
          exact
        >
          <v-list-tile-action>
            <v-icon> {{ item.icon }} </v-icon>
          </v-list-tile-action>
          <v-list-tile-content class="ml-3">
            <v-list-tile-title v-text="item.title.toUpperCase()" />
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="isAdmin"
          router
          :to="adminItems[0].to"
          exact
        >
          <v-list-tile-action>
            <v-icon> {{ adminItems[0].icon }} </v-icon>
          </v-list-tile-action>
          <v-list-tile-content class="ml-3">
            <v-list-tile-title v-text="adminItems[0].title.toUpperCase()" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="clipped">
      <v-btn
        v-if="!drawer"
        icon
        @click="drawer = !drawer"
      >
        <v-icon>chevron_right</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        { icon: 'fas fa-user-edit', title: 'Запись', to: '/events' },
        { icon: 'far fa-clock', title: 'Расписание', to: '/' },
        { icon: 'fas fa-cogs', title: 'Настройки', to: '/services' },
        { icon: 'fas fa-shopping-cart', title: 'Расходы', to: '/spending' },
        { icon: 'fas fa-coins', title: 'Доход', to: '/salary' }
      ],
      adminItems: [
        { icon: 'fas fa-users-cog', title: 'Админ', to: '/register' }
      ],
      miniVariant: false,
      right: false,
      rightDrawer: false,
      title: 'Записная книжка'
    }
  },
  computed: {
    isAdmin() {
      return this.$store.$auth.user.role === 'admin'
    }
  },
  mounted() {
    this.$root.$on('success', this.notifySuccess)
    this.$root.$on('error', this.notifyError)
  },
  methods: {
    notifySuccess(text) {
      this.$notify({
        group: 'foo',
        type: 'success',
        title: 'Внимание!',
        text: text
      })
    },
    notifyError(text) {
      this.$notify({
        group: 'foo',
        type: 'error',
        title: 'Внимание!',
        text: text
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .drawer {
    background-image: url(../components/../assets/images/logo.png);
    background-position: top left;
    background-repeat: no-repeat;
  }
  >>>.v-list__tile--active {
    background-color: #35495E !important;
  }
</style>
