<template>
  <v-app>
    <v-content>
      <v-layout align-center justify-center row fill-height>
        <v-container fluid>
          <v-layout align-center justify-center row fill-height>
            <router-view />
          </v-layout>
        </v-container>
      </v-layout>
    </v-content>
  </v-app>
</template>
