<template>
  <v-card class="pb-5" min-height="85vh">
    <v-toolbar color="green" dark>
      <v-icon>fas fa-user-edit</v-icon>
      <v-toolbar-title>Расписание</v-toolbar-title>
      <v-spacer />
      <v-layout v-if="isShow" align-baseline justify-end row fill-height>
        <v-flex xs12 sm5>
          <v-select
            :items="usersList"
            label="Пользователь"
            item-value="_id"
            item-text="username"
            menu-props="auto"
            hide-details
            single-line
          />
        </v-flex>
      </v-layout>
    </v-toolbar>
    <Scheduler />
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
import Scheduler from '../components/Scheduler/index'
export default {
  name: 'SchedulerVue',
  components: {
    Scheduler
  },
  data() {
    return {
      isShow: this.$store.$auth.user.role === 'admin'
    }
  },
  computed: {
    ...mapState('events', ['usersList'])
  },
  fetch({ store, app: { $axios } }) {
    if (store.$auth.user.role === 'admin') {
      return $axios.get('/users/users-list')
        .then((res) => {
          store.commit('events/SET_USERS_LIST', res.data)
        })
    }
    return null
  }
}
</script>

<style scoped>
</style>
