<template>
  <v-card
    max-width="400"
  >
    <v-toolbar color="green" dark>
      <v-layout align-center justify-center row wrap>
        <v-toolbar-title>Авторизация</v-toolbar-title>
      </v-layout>
    </v-toolbar>
    <v-form @submit.prevent="loginRequest">
      <v-container fluid>
        <v-layout align-center justify-center row wrap>
          <v-flex xs12 sm11>
            <v-alert
              :value="isNotValidate"
              type="error"
              outline
              transition="scale-transition"
            >
              {{ error }}
            </v-alert>
          </v-flex>
          <v-flex xs12 sm10>
            <v-text-field
              v-model="email"
              :rules="[rules.required]"
              browser-autocomplete
              hint="Введите Email"
              label="Email"
            />
          </v-flex>
          <v-flex xs12 sm10>
            <v-text-field
              v-model="password"
              :append-icon="show4 ? 'visibility' : 'visibility_off'"
              :rules="[rules.required]"
              :type="show4 ? 'text' : 'password'"
              label="Пароль"
              hint="Введите пароль"
              @click:append="show4 = !show4"
            />
          </v-flex>
        </v-layout>
        <v-layout
          align-center
          justify-end
          row
          mr-3
        >
          <v-flex xs1 sm1>
            <v-btn icon type="submit" :disabled="isDisabled">
              <v-icon color="info">
                fas fa-sign-in-alt
              </v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: 'Login',
  layout: 'empty',
  data() {
    return {
      show4: false,
      email: '',
      password: '',
      isNotValidate: false,
      error: '',
      rules: {
        required: value => !!value || 'Обязательное поле!'
      }
    }
  },
  computed: {
    isDisabled() {
      return (!this.email || !this.password)
    }
  },
  methods: {
    async loginRequest() {
      try {
        this.isNotValidate = false
        const { email, password } = this
        await this.$auth.loginWith('local', {
          data: {
            email,
            password
          }
        })
      } catch (e) {
        this.isNotValidate = true
        if (e.response.status === 401) {
          this.error = 'Неправильный email или пароль'
        } else {
          this.error = 'Попробуйте еще раз позднее'
        }
      }
    }
  }
}
</script>
