<template>
  <v-layout align-center justify-center row wrap>
    <v-flex xs12 sm4>
      <v-card>
        <v-toolbar color="green" dark>
          <v-layout align-center justify-center row wrap>
            <v-toolbar-title>Регистрация</v-toolbar-title>
          </v-layout>
        </v-toolbar>
        <v-form @submit.prevent="registerRequest">
          <v-container fluid>
            <v-layout align-center justify-center row wrap>
              <v-flex xs12 sm11>
                <v-alert
                  :value="isNotValidate"
                  type="error"
                  outline
                  transition="scale-transition"
                >
                  {{ error }}
                </v-alert>
              </v-flex>
              <v-flex xs12 sm10>
                <v-text-field
                  v-model="firstName"
                  :rules="[rules.required]"
                  browser-autocomplete
                  hint="Введите Имя"
                  label="Имя"
                />
                <v-text-field
                  v-model="lastName"
                  :rules="[rules.required]"
                  browser-autocomplete
                  hint="Введите Фамилию"
                  label="Фамилия"
                />
                <v-text-field
                  v-model="email"
                  :rules="[rules.required]"
                  browser-autocomplete
                  hint="Введите Email"
                  label="Email"
                />
              </v-flex>
              <v-flex xs12 sm10>
                <v-layout align-center justify-center row wrap>
                  <v-color v-model="color" />
                </v-layout>
              </v-flex>
              <v-flex xs12 sm10>
                <v-text-field
                  v-model="password"
                  :append-icon="show4 ? 'visibility' : 'visibility_off'"
                  :rules="[rules.required]"
                  :type="show4 ? 'text' : 'password'"
                  label="Пароль"
                  hint="Введите пароль"
                  @click:append="show4 = !show4"
                />
                <v-text-field
                  v-model="passwordAgain"
                  :append-icon="show4 ? 'visibility' : 'visibility_off'"
                  :rules="[rules.required, rules.validation]"
                  :type="show4 ? 'text' : 'password'"
                  label="Пароль еще раз"
                  hint="Введите пароль еще раз"
                  @click:append="show4 = !show4"
                />
              </v-flex>
            </v-layout>
            <v-layout
              align-center
              justify-end
              row
              mr-3
            >
              <v-flex xs1 sm1>
                <v-btn icon type="submit" :disabled="isDisabled">
                  <v-icon color="info">
                    fas fa-sign-in-alt
                  </v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'Register',
  middleware: 'checkingRole',
  components: {

  },
  data() {
    return {
      color: '',
      show4: false,
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      passwordAgain: '',
      isNotValidate: false,
      error: '',
      rules: {
        required: value => !!value || 'Обязательное поле!',
        validation: value => (value !== this.password) ? 'Пароли не совпадают' : false
      }
    }
  },
  computed: {
    isDisabled() {
      return (!this.email || !this.password || !this.firstName || !this.lastName || !this.passwordAgain)
    }
  },
  methods: {
    async registerRequest() {
      try {
        this.isNotValidate = false
        const { email, password, firstName, lastName } = this
        await this.$axios.post('/auth/register',
          {
            firstName,
            lastName,
            email,
            password,
            color: this.color.hex
          }
        )
        this.$nuxt.$router.replace({ path: '/login' })
      } catch (e) {
        this.isNotValidate = true
        this.error = 'Что-то пошло не так'
      }
    }
  }
}
</script>
<style scoped>
</style>
