<template>
  <v-card class="pb-5" min-height="85vh">
    <v-toolbar color="green" dark>
      <v-icon>fas fa-user-edit</v-icon>
      <v-toolbar-title>Доход</v-toolbar-title>
      <v-spacer />
    </v-toolbar>
    <Salary />
  </v-card>
</template>

<script>
import Salary from '../components/Salary'
export default {
  name: 'SalaryVue',
  components: {
    Salary
  }
}
</script>
