<template>
  <div>
    <v-toolbar
      color="green"
      dark
    >
      <v-icon>fas fa-cogs</v-icon>
      <v-toolbar-title>Услуги</v-toolbar-title>
      <v-spacer />
      <v-btn v-if="!showCategory" color="indigo" small @click="openCategories">
        Категории
      </v-btn>
    </v-toolbar>

    <v-card min-height="80vh">
      <v-container
        fluid
        grid-list-lg
      >
        <v-layout row wrap>
          <v-flex xs12>
            <transition name="fade">
              <Categories v-if="showCategory" @close="openCategories" />
            </transition>
            <Services />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Categories from '../components/Categories'
import Services from '../components/Services'
export default {
  name: 'ServicesPage',
  components: {
    Categories,
    Services
  },
  data: function () {
    return {
      showCategory: false
    }
  },
  methods: {
    openCategories() {
      this.showCategory = !this.showCategory
    }
  }
}
</script>

<style scoped>

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }

</style>
