<template>
  <v-card class="pb-5" min-height="85vh">
    <v-toolbar color="green" dark>
      <v-icon>fas fa-shopping-cart</v-icon>
      <v-toolbar-title>Расходы</v-toolbar-title>
      <v-spacer />
    </v-toolbar>
    <Spending />
  </v-card>
</template>

<script>
import Spending from '../components/Spending'
export default {
  name: 'EventsVue',
  components: {
    Spending
  }
}
</script>

<style scoped>
</style>
