<template>
  <v-data-table
    v-show="show_table"
    hide-actions
    hide-headers
    :items="items"
  >
    <template slot="items" slot-scope="props">
      <tr @click="props.expanded = !props.expanded">
        <td>
          <slot name="key" :item="props.item">
            <span>{{ $formatDate(props.item.date_posted) }}</span>
          </slot>
        </td>
        <td>
          <slot name="price" :item="props.item">
            {{ props.item.price }}₽
          </slot>
        </td>
        <td>
          <slot name="comment" :item="props.item">
            {{ props.item.comment }}
          </slot>
        </td>
        <td>
          <slot name="action" :item="props.item">
            <v-btn icon small @click="$emit('delete-spending', props.item._id)">
              <v-icon small>
                delete
              </v-icon>
            </v-btn>
          </slot>
        </td>
      </tr>
    </template>
    <template slot="no-data">
      <v-flex py-3>
        <v-alert :value="true" type="info" outline>
          Нет данных
        </v-alert>
      </v-flex>
    </template>
  </v-data-table>
</template>
<script>
import * as _ from 'lodash'
export default {
  props: {
    objectData: {
      type: Array,
      default: () => ([])
    },
    title: {
      type: String,
      default: ''
    },
    expanded: {
      type: Boolean,
      default: false
    },
    defaultShow: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      show_table: true
    }
  },
  computed: {
    items() {
      const visualData = _.cloneDeep(this.objectData)
      if (!Array.isArray(visualData)) {
        return []
      }
      if (visualData.length > 0) {
        visualData.sort((a, b) => (a.sort || 0) - (b.sort || 0))
      }
      return visualData
    }
  },
  mounted() {
    this.show_table = this.defaultShow
    console.log(this.objectData)
  }
}
</script>
