<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-card
    class="mx-auto mt-4"
    max-width="600"
  >
    <v-card-text>
      <v-layout
        justify-space-between
        mb-3
      >
        <v-flex text-xs-left>
          <span
            class="display-1 font-weight-light"
            v-text="inHours"
          />
        </v-flex>
      </v-layout>

      <v-slider
        v-model="localDuration"
        :color="color"
        always-dirty
        min="0"
        step="15"
        max="180"
      >
        <template v-slot:prepend>
          <v-icon
            :color="color"
            @click="decrement"
          >
            mdi-minus
          </v-icon>
        </template>

        <template v-slot:append>
          <v-icon
            :color="color"
            @click="increment"
          >
            mdi-plus
          </v-icon>
        </template>
      </v-slider>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ['duration'],
  data: () => ({
    interval: null,
    isPlaying: false
  }),
  computed: {
    color() {
      if (this.duration < 30) return 'indigo'
      if (this.duration < 60) return 'teal'
      if (this.duration < 90) return 'green'
      if (this.duration < 120) return 'orange'
      return 'red'
    },
    inHours() {
      if (this.duration < 59) return `${this.duration} минут`
      if (this.duration > 59 && this.duration < 119) return `${this.duration / 60 ^ 0} час ${this.duration % 60} минут`
      if (this.duration > 119) return `${this.duration / 60 ^ 0} часа ${this.duration % 60} минут`
      return null
    },
    localDuration: {
      get() { return this.duration },
      set(value) { this.$root.$emit('write-duration', value) }
    }
  },
  methods: {
    decrement() {
      this.bpm--
    },
    increment() {
      this.bpm++
    }
  }
}
</script>

<style>
    @keyframes metronome-example {
        from {
            transform: scale(.5);
        }
        to {
            transform: scale(1);
        }
    }
</style>
