<template>
  <v-layout row justify-center>
    <v-dialog v-model="isOpen" persistent max-width="600px">
      <v-card>
        <v-card-title class="pr-2">
          <span class="title">{{ title }}</span>
          <v-spacer />
          <v-btn icon @click="closeModal">
            <v-icon color="red">
              close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <slot name="body" />
          </v-container>
        </v-card-text>
        <v-card-actions class="pr-3">
          <v-spacer />
          <slot name="btn" />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  props: ['isOpenModal', 'title'],
  computed: {
    isOpen: {
      get() {
        return this.isOpenModal
      }
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModalWindow')
    }
  }
}
</script>
