<template>
  <div class="demo-app my-3 mx-3">
    <FullCalendar
      ref="fullCalendar"
      class="demo-app-calendar"
      default-view="timeGridDay"
      :locale="ruLocale"
      now-indicator="true"
      :scroll-time="scrollTime"
      :all-day-slot="false"
      :button-text="{list:'Текст'}"
      :header="{
        left: 'dayGridMonth,timeGridDay,listWeek ',
        center: 'title',
        right: ' prev, today, next'
      }"
      :plugins="calendarPlugins"
      :weekends="calendarWeekends"
      :events="events"
      :title-format="{ day: 'numeric', month: 'long'}"
      min-time="08:00:00"
      @eventClick="info => openModal(info)"
    />
    <modal-window :is-open-modal="isOpenModal" :title="'Информация о клиенте'" @closeModalWindow="isOpenModal = !isOpenModal">
      <template v-slot:body>
        <v-layout
          align-center
          justify-center
          row
          wrap
          fill-height
          my-0
          py-0
        >
          <v-flex>
            <h3>Клиент: </h3>
            <v-layout
              align-center
              justify-between
              row
              wrap
              fill-height
            >
              <v-flex>
                <p>
                  Имя: {{ currentData.name }}
                </p>
              </v-flex>
              <v-flex>
                <p>
                  Тел.: {{ currentData.phone }}
                </p>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 px-1>
            <h3>Время записи: </h3>
            <p>
              {{ currentData.start }}
            </p>
          </v-flex>
          <v-flex xs12 px-1>
            <h3>Услуги: </h3>
            <v-layout
              justify-start
              row
              wrap
            >
              <v-flex v-for="service in currentData.services" :key="service" xs12>
                <span>
                  {{ service | capitalize }}
                </span>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 px-1>
            <h3>Цена: </h3>
            <p>
              {{ currentData.price }} руб.
            </p>
          </v-flex>
        </v-layout>
      </template>
      <template v-slot:btn>
        <v-layout
          justify-end
          row
          wrap
          mb-2
        >
          <v-btn icon :to="`events/${currentData.id}`">
            <v-icon color="success">
              edit
            </v-icon>
          </v-btn>
          <v-btn icon @click="deleteEventRequest(currentData.id)">
            <v-icon color="primary">
              delete
            </v-icon>
          </v-btn>
        </v-layout>
      </template>
    </modal-window>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import listPlugin from '@fullcalendar/list'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import ruLocale from '@fullcalendar/core/locales/ru'
import ModalWindow from '../commons/ModalWindow'
export default {
  components: {
    FullCalendar, // make the <FullCalendar> tag available
    ModalWindow
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()
    }
  },
  data() {
    return {
      calendarPlugins: [ // plugins must be defined in the JS
        dayGridPlugin,
        timeGridPlugin,
        listPlugin,
        interactionPlugin // needed for dateClick
      ],
      calendarWeekends: true,
      calendarEvents: this._id,
      ruLocale: ruLocale,
      scrollTime: new Date().getTime(),
      isOpenModal: false,
      currentData: {
        id: '',
        name: '',
        phone: '',
        start: '',
        price: '',
        services: []
      }
    }
  },
  computed: {
    ...mapState('events', ['events'])
  },
  async mounted() {
    try {
      await this.getEvents()
    } catch (e) {
      this.$root.$emit('error', e.message)
    }
  },
  methods: {
    ...mapActions('events', ['getEvents', 'deleteEvent']),
    async prepareServices(services) {
      const response = await this.$axios.post('/services/get-services-by-id', services)
      return response.data.service.map(service => `${service.category_name} ${service.name}`)
    },
    async openModal(info) {
      this.currentData.services = await this.prepareServices(info.event.extendedProps.selected_services)
      this.currentData.name = info.event.title
      this.currentData.id = info.event.extendedProps._id
      this.currentData.start = `${new Date(info.event.start).toLocaleDateString('ru-RU')} ${new Date(info.event.start).toTimeString().substr(0, 5)}`
      this.currentData.phone = info.event.extendedProps.phone
      this.currentData.price = info.event.extendedProps.price
      this.isOpenModal = !this.isOpenModal
    },
    async deleteEventRequest(id) {
      try {
        await this.deleteEvent({ id })
        this.$root.$emit('success', 'Запись успешно удалена!')
      } catch (e) {
        this.$root.$emit('error', 'Произошла ошибка')
      } finally {
        this.isOpenModal = !this.isOpenModal
      }
    }
  }
}
</script>

<style lang='scss'>
    // you must include each plugins' css
    // paths prefixed with ~ signify node_modules
    @import '@fullcalendar/core/main.css';
    @import '@fullcalendar/daygrid/main.css';
    @import '@fullcalendar/list/main.css';
    @import '@fullcalendar/timegrid/main.css';

    .demo-app-calendar {
        margin: 0 auto;
        max-width: 900px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .fc-right {
        display: flex !important;
        justify-content: space-between !important;
        width: 100% !important;
        margin-top: 10px !important;
    }
    .fc-toolbar{
        flex-direction: column !important;
        justify-content: center !important;
    }
    .fc-scroller{
        height: 45vh !important;
    }

    .fc-widget-header {
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 18px !important;
    }
    .fc-day-top{
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 14px !important;
    }
    .fc-view {
      border: 2px solid #1976D2;
    }
    .fc-icon {
      margin-bottom: 1px !important
    }
  .fc-today {
    background: rgba(227,242,253, 0.4) !important;
    border-right: 2px solid #FF9800 !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
  }
  .fc-day-header {
    padding: 10px !important;
    font-size: 16px !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
  }
  .fc-head-container {
    background: #90CAF9 !important;
  }
  td {
      border-color: #C5CAE9 !important;
    }
</style>
