<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-form>
    <v-card class="elevation-0">
      <v-toolbar color="indigo" dark class="mb-4">
        <v-icon>fas fa-edit</v-icon>
        <v-toolbar-title> Добавить услуги:</v-toolbar-title>
      </v-toolbar>
      <v-layout
        align-center
        justify-center
        row
        wrap
        fill-height
        my-4
      >
        <v-flex xs11 sm4>
          <v-select
            v-model="selectedCategory"
            :items="categories"
            item-text="name"
            no-data-text="Данные отсутствуют"
            item-value="_id"
            :return-object="true"
            label="Выберите категорию"
            outline
          />
        </v-flex>
        <v-flex xs11 sm4>
          <v-text-field
            v-model="name"
            clearable
            label="Введите имя услуги"
            outline
          />
        </v-flex>
        <v-flex xs11 sm2>
          <v-text-field
            v-model="price"
            clearable
            label="Цена"
            return-masked-value
            mask="####"
            outline
          />
        </v-flex>
        <v-flex xs2 sm1 mb-4>
          <v-btn
            flat
            icon
            small
            color="green"
            :disabled="!name || !selectedCategory || !price"
            @click="createServiceInfo"
          >
            <v-icon small>
              fas fa-plus
            </v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card>
    <transition name="fade">
      <p v-if="show" class="title my-4">
        Редактировать услуги:
      </p>
    </transition>
    <transition-group name="fade">
      <v-card
        v-for="(service, i) in services"
        :key="service._id"
        class="my-3 elevation-0"
      >
        <v-toolbar color="indigo" dark class="mb-4">
          <v-icon>far fa-calendar-alt</v-icon>
          <v-toolbar-title>Услуга №{{ i + 1 }}</v-toolbar-title>
        </v-toolbar>
        <v-layout
          align-center
          justify-center
          row
          wrap
          fill-height
          my-4
        >
          <v-flex xs11 sm3>
            <v-text-field
              label="Категория"
              :value="service.category_name"
              outline
              readonly
            />
          </v-flex>
          <v-flex xs11 sm3>
            <v-text-field
              label="Услуга"
              :value="service.name"
              outline
              readonly
            />
          </v-flex>
          <v-flex xs11 sm3>
            <v-text-field
              label="Цена"
              :value="service.price"
              outline
              readonly
            />
          </v-flex>
          <v-flex xs2 sm1 mb-4>
            <v-btn flat icon small @click="getServiceInfo(service._id)">
              <v-icon small color="primary">
                fas fa-cog
              </v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </transition-group>
    <modal-window :is-open-modal="isOpenModal" :title="'Изменить услугу'" @closeModalWindow="openModal">
      <template v-slot:body>
        <v-layout
          align-center
          justify-center
          row
          wrap
          fill-height
          my-0
          py-0
        >
          <v-flex xs12 px-1>
            <v-select
              :items="categories"
              item-text="name"
              no-data-text="Данные отсутствуют"
              :value="service.category_name"
              :label="service.category_name"
              @input="editServiceInfo('category_name', $event)"
            />
          </v-flex>
          <v-flex xs12 px-1>
            <v-text-field
              label="Услуга"
              clearable
              :value="service.name"
              @input="editServiceInfo('name', $event)"
            />
          </v-flex>
          <v-flex xs12 px-1>
            <v-text-field
              label="Цена"
              clearable
              :value="service.price"
              mask="####"
              @input="editServiceInfo('price', $event)"
            />
          </v-flex>
        </v-layout>
      </template>
      <template v-slot:btn>
        <v-btn icon :disabled="!service.price || !service.name" @click="saveEditServiceInfo(service._id)">
          <v-icon color="green">
            save
          </v-icon>
        </v-btn>
        <v-btn icon @click="deleteServiceInfo(service._id)">
          <v-icon color="primary">
            delete
          </v-icon>
        </v-btn>
      </template>
    </modal-window>
  </v-form>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ModalWindow from '../commons/ModalWindow'
export default {
  name: 'Services',
  components: {
    ModalWindow
  },
  data() {
    return {
      selectedCategory: {},
      price: '',
      name: '',
      date_posted: '',
      isOpenModal: false,
      filteredService: {}
    }
  },
  computed: {
    ...mapState('services', [
      'categories',
      'services',
      'service'
    ]),
    show() {
      return !!this.services.length
    },
    validate() {
      if (this.name) {
        return {
          action: 'check_circle_outline',
          color: 'green'
        }
      }
      return {
        action: 'error_outline',
        color: 'red'
      }
    }
  },
  created() {
    this.date_posted = new Date()
    Promise.all([
      this.$store.dispatch('services/getServices'),
      this.$store.dispatch('services/getCategories')
    ]).then((value) => {
      console.info('Categories and Services were loaded')
    }).catch(e => (this.$root.$emit('error', e.message)))
  },
  methods: {
    ...mapActions('services', ['createService', 'deleteService', 'getService', 'getCategories', 'getServices', 'editService']),
    editServiceInfo(key, event) {
      const data = {
        key,
        event
      }
      this.$store.commit('services/UPDATE_SERVICE', data)
    },
    async createServiceInfo() {
      try {
        const { name, _id } = this.selectedCategory
        const data = {
          category_name: name || 'Неизвестная',
          category_id: _id,
          name: this.name || 'Неизвестная',
          price: this.price || '0',
          date_posted: this.date_posted
        }
        await this.$store.dispatch('services/createService', data)
        this.$store.dispatch('services/getServices')
      } catch (e) {
        this.$root.$emit('error', e.message)
      }
    },
    async deleteServiceInfo(id) {
      try {
        await this.$store.dispatch('services/deleteService', id)
        this.$store.dispatch('services/getServices')
      } catch (e) {
        this.$root.$emit('error', e.message)
      } finally {
        this.openModal()
      }
    },
    openModal() {
      this.isOpenModal = !this.isOpenModal
    },
    async getServiceInfo(id) {
      try {
        await this.$store.dispatch('services/getService', id)
        this.openModal()
      } catch (e) {
        this.$root.$emit('error', e.message)
      }
    },
    saveEditServiceInfo(id) {
      const preparedData = this.service
      const data = this.findNoEmptyKeys(preparedData)
      this.editService({ data, id })
      this.openModal()
    },
    findNoEmptyKeys(obj) {
      const filteredObject = {}
      for (const key in obj) {
        if (obj.hasOwnProperty(key)) {
          filteredObject[key] = obj[key]
        }
      }
      return filteredObject
    }
  }
}
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>
